.basketProduct {
  &__card {
    display: flex;
    position: relative;
    background-color: #fff;
    width: 768px;
    margin-bottom: 8px;
  }

  &__media {
    img {
      width: 112px;
      margin: 12px;
    }
  }

  &__info {
    padding: 12px 4px;
    &-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #393939;
    }

    &-size {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #7c7c7c;
      padding: 15px 0 6px;

      span {
        padding-left: 4px;
      }
    }

    &-color {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #7c7c7c;

      //   border: 1px solid lightgray;

      span {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        margin-left: 8px;
        border: 1px solid lightgray;
      }
    }

    &-price {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #393939;
      padding: 6px 0 12px;

      span {
        text-decoration: line-through;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #adadad;
        display: inline-block;
        padding-left: 6px;
      }
    }

    &-oldPrice {
    }
  }

  &__amount {
    display: flex;
    align-items: center;

    &-product {
      padding: 0 20px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;

      color: #393939;
    }
  }

  &__button {
    width: 32px;
    height: 32px;
    background: #f8f8f8;
    border: 1px solid #efefef;
    border-radius: 6px;
    color: #1a1e3d;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__closeButton {
    position: absolute;
    top: 17px;
    right: 17px;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}
